﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
<form method="post">
    <label> Name</label>
    <input name="Name" />
    <br />

    <label>Description</label>
    <input name="Description" />
    <br />

    <label>Image</label>
    <input type="hidden" id="ImageURL" name="ImageURL" />
    <input id="imageUpload" name="image" type="file" accept=".jpg, .png" />
    <br />
    <div class="thumb">
        <img id="categoryImage" />
    </div>
    <br />

    
        <label>Is Featured?</label>
        
                <label><input name="isFeatured" type="radio" value="True" /> True</label>
            
                <label><input name="isFeatured" type="radio" value="False" /> False</label>
    <br />
           
    <button type="submit">Save</button>
</form>

<script>
	$("#imageUpload").change(function () {
		var element = this;

		var formData = new FormData();

		var totalFiles = element.files.length;

		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
		}

		$.ajax({
			type: 'POST',
			url: '@Url.Action("UploadImage", "Shared")',
			dataType: 'json',
			data: formData,
			contentType: false,
			processData: false
		})
        .done(function (response) {
        	console.log(response);

        	if(response.Success)
        	{
        	    $("#ImageURL").val(response.ImageURL);
        	    $("#categoryImage").attr("src", response.ImageURL);
        	}
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});
</script>