﻿@model ESpareParts.Entities.Category
@{
    ViewBag.Title = "Edit";

    var trueChecked = Model.isFeatured ? "checked" : string.Empty;
    var falseChecked = !Model.isFeatured ? "checked" : string.Empty;
}

<h2>Edit Category</h2>

<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />

    <br />


    <label>Name</label>
    <input name="Name" value="@Model.Name"/>

    <br />

    <label>Description</label>
    <input name="Description"  value="@Model.Description"/>

    <br />
    <label>Is Featured?</label>
    
            <input name="isFeatured" type="radio" value="True" @trueChecked /> True
            
            <input name="isFeatured" type="radio" value="False" @falseChecked /> False
        
    <br />
    <button type="submit">Save</button>

    <br />

</form>

